<header class="main">
  <a class="site-title" href="{{ site.baseurl }}/">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="199.92" height="199.92" viewBox="0 0 2100 2100">
      <defs>
        <style>
          .cls-1 {
            font-size: 800px;
            fill: #eaaa00;
            font-family: "Franklin Gothic Medium";
          }
        </style>
      </defs>
      <image width="2100" height="2100" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADIAgMAAADQNkYNAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEUAKFUAKFUAKFUAAAAAlzCuAAAAAnRSTlPl8gYpWaEAAAABYktHRAMRDEzyAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4QIZESgxV3pOJQAAAExJREFUaN7t2jEBACEQxMA1gTPeBM44lWjY7otJPw6S9ZXtTF1OKy6CIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiC/Iu0Yib9pPcAFrOenreX7gIAAAAASUVORK5CYII="/>
      <text id="tech" class="cls-1" transform="matrix(0.866, -0.5, 0.5, 0.866, 280.816, 1489.956)">tech</text>
      <text id="_304" data-name="304" class="cls-1" transform="matrix(0.866, -0.5, 0.5, 0.866, 770.643, 1876.877)">304</text>
    </svg>
  </a>
</header>
